USE [master]
GO
/****** Object:  Database [DBKOMP]    Script Date: 08/04/2018 9:17:09 PM ******/
CREATE DATABASE [DBKOMP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBKOMP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DBKOMP.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DBKOMP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DBKOMP_log.ldf' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBKOMP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBKOMP]
GO
/****** Object:  StoredProcedure [dbo].[InsertGenerator]    Script Date: 08/04/2018 9:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  
create PROC [dbo].[InsertGenerator]  
(@tableName varchar(100)) as  
  
--Declare a cursor to retrieve column specific information for the specified table  
DECLARE cursCol CURSOR FAST_FORWARD FOR   
SELECT column_name,data_type FROM information_schema.columns WHERE table_name = @tableName  
OPEN cursCol  
DECLARE @string nvarchar(3000) --for storing the first half of INSERT statement  
DECLARE @stringData nvarchar(3000) --for storing the data (VALUES) related statement  
DECLARE @dataType nvarchar(1000) --data types returned for respective columns  
SET @string='INSERT '+@tableName+'('  
SET @stringData=''  
  
DECLARE @colName nvarchar(50)  
  
FETCH NEXT FROM cursCol INTO @colName,@dataType  
  
IF @@fetch_status<>0  
 begin  
 print 'Table '+@tableName+' not found, processing skipped.'  
 close curscol  
 deallocate curscol  
 return  
END  
  
WHILE @@FETCH_STATUS=0  
BEGIN  
IF @dataType in ('varchar','char','nchar','nvarchar')  
BEGIN  
 --SET @stringData=@stringData+'''''''''+isnull('+@colName+','''')+'''''',''+'  
 SET @stringData=@stringData+''''+'''+isnull('''''+'''''+'+@colName+'+'''''+''''',''NULL'')+'',''+'  
END  
ELSE  
if @dataType in ('text','ntext') --if the datatype is text or something else   
BEGIN  
 SET @stringData=@stringData+'''''''''+isnull(cast('+@colName+' as varchar(2000)),'''')+'''''',''+'  
END  
ELSE  
IF @dataType = 'money' --because money doesn't get converted from varchar implicitly  
BEGIN  
 SET @stringData=@stringData+'''convert(money,''''''+isnull(cast('+@colName+' as varchar(200)),''0.0000'')+''''''),''+'  
END  
ELSE   
IF @dataType='datetime'  
BEGIN  
 --SET @stringData=@stringData+'''convert(datetime,''''''+isnull(cast('+@colName+' as varchar(200)),''0'')+''''''),''+'  
 --SELECT 'INSERT Authorizations(StatusDate) VALUES('+'convert(datetime,'+isnull(''''+convert(varchar(200),StatusDate,121)+'''','NULL')+',121),)' FROM Authorizations  
 --SET @stringData=@stringData+'''convert(money,''''''+isnull(cast('+@colName+' as varchar(200)),''0.0000'')+''''''),''+'  
 SET @stringData=@stringData+'''convert(datetime,'+'''+isnull('''''+'''''+convert(varchar(200),'+@colName+',121)+'''''+''''',''NULL'')+'',121),''+'  
  --                             'convert(datetime,'+isnull(''''+convert(varchar(200),StatusDate,121)+'''','NULL')+',121),)' FROM Authorizations  
END  
ELSE   
IF @dataType='image'   
BEGIN  
 SET @stringData=@stringData+'''''''''+isnull(cast(convert(varbinary,'+@colName+') as varchar(6)),''0'')+'''''',''+'  
END  
ELSE --presuming the data type is int,bit,numeric,decimal   
BEGIN  
 --SET @stringData=@stringData+'''''''''+isnull(cast('+@colName+' as varchar(200)),''0'')+'''''',''+'  
 --SET @stringData=@stringData+'''convert(datetime,'+'''+isnull('''''+'''''+convert(varchar(200),'+@colName+',121)+'''''+''''',''NULL'')+'',121),''+'  
 SET @stringData=@stringData+''''+'''+isnull('''''+'''''+convert(varchar(200),'+@colName+')+'''''+''''',''NULL'')+'',''+'  
END  
  
SET @string=@string+@colName+','  
  
FETCH NEXT FROM cursCol INTO @colName,@dataType  
END  
DECLARE @Query nvarchar(4000)  
  
SET @query ='SELECT '''+substring(@string,0,len(@string)) + ') VALUES(''+ ' + substring(@stringData,0,len(@stringData)-2)+'''+'')'' FROM '+@tableName  
exec sp_executesql @query  
--select @query  
  
CLOSE cursCol  
DEALLOCATE cursCol  
  
  

GO
/****** Object:  UserDefinedFunction [dbo].[split]    Script Date: 08/04/2018 9:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create FUNCTION [dbo].[split]
(
    @string varchar(MAX),
    @delimiter CHAR(1),
    @pos INT 
)
RETURNS varchar(255)
AS
BEGIN
    DECLARE @start INT, @end INT, @count INT 
    SELECT @start = 1, @end = CHARINDEX(@delimiter, @string), @count = 1 
    WHILE @start < LEN(@string) + 1 BEGIN
        IF @end = 0 
            SET @end = LEN(@string) + 1 

        IF @count = @pos
            RETURN SUBSTRING(@string, @start, @end - @start)

        SET @start = @end + 1 
        SET @end = CHARINDEX(@delimiter, @string, @start)
        SET @count = @count + 1 

    END 
    RETURN '' -- not found
END

GO
/****** Object:  Table [dbo].[Config]    Script Date: 08/04/2018 9:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Config](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TrnChrg] [int] NULL,
	[DeliveryChrg] [int] NULL,
	[Tax] [decimal](4, 1) NULL,
	[Telephone] [varchar](50) NULL,
	[email] [varchar](60) NULL,
	[CashPickUp] [int] NULL,
	[CashPickUpPercent] [decimal](10, 2) NULL,
 CONSTRAINT [PK__Config__3214EC073090AE20] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HoliDay]    Script Date: 08/04/2018 9:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoliDay](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DeliverDate] [datetime] NULL,
	[IsActive] [int] NULL,
 CONSTRAINT [PK__HoliDay__3214EC0763BFC279] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Menu]    Script Date: 08/04/2018 9:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Menu](
	[Id] [int] NOT NULL,
	[Header] [nvarchar](250) NULL,
	[Detail] [nvarchar](4000) NULL,
	[ShowInBoth] [varchar](1) NULL,
	[IsActive] [int] NULL,
	[Picture] [varchar](150) NULL,
	[HeaderCus] [nvarchar](250) NULL,
	[DetailCus] [nvarchar](4000) NULL,
 CONSTRAINT [PK__Menu__3214EC07959B1DFB] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MenuItems]    Script Date: 08/04/2018 9:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MenuItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MenuId] [int] NOT NULL,
	[Header] [nvarchar](250) NULL,
	[Detail] [nvarchar](4000) NULL,
	[Picture] [varchar](150) NULL,
	[PicDetails] [nvarchar](1000) NULL,
	[Price] [decimal](10, 2) NULL,
	[Veg] [int] NOT NULL,
	[NonCustomized] [int] NOT NULL,
	[IsActive] [int] NULL,
	[AvailableDay] [varchar](20) NULL,
	[ShowDetails] [int] NULL,
	[Varity] [nvarchar](1000) NULL,
	[DetailDinner] [nvarchar](4000) NULL,
	[ShowInBoth] [varchar](1) NULL,
	[Calories] [varchar](50) NULL,
	[OrderBy] [int] NULL,
 CONSTRAINT [PK__MenuItem__3214EC07B83FA400] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Message]    Script Date: 08/04/2018 9:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Message](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL,
	[mobile] [varchar](100) NULL,
	[email] [varchar](100) NULL,
	[touser] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[message] [varchar](500) NULL,
	[propertyId] [int] NULL,
 CONSTRAINT [PK__Message__3214EC07536F7B1B] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Order]    Script Date: 08/04/2018 9:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NULL,
	[PlanId] [int] NULL,
	[OrderDate] [datetime] NULL,
	[OrderStartDate] [datetime] NULL,
	[PaymentDone] [int] NOT NULL,
	[IsLunch] [int] NOT NULL,
	[TotalPayment] [decimal](10, 2) NULL,
	[NonCustomized] [int] NULL,
	[IsActive] [int] NULL,
	[RequestId] [int] NULL,
	[pincode] [int] NULL,
	[YourguyOrderId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 08/04/2018 9:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[SubProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[DeliverDate] [datetime] NULL,
	[IsActive] [int] NULL,
	[YourguyOrderId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Payment]    Script Date: 08/04/2018 9:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[Payment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[TransactionNo] [varchar](100) NOT NULL,
	[Amount] [decimal](10, 2) NULL,
	[Mode] [int] NOT NULL,
	[PaymentDate] [datetime] NULL,
	[NameOnCard] [varchar](60) NOT NULL,
	[CardNumber] [varchar](50) NOT NULL,
	[IsActive] [int] NULL,
	[TrnChrg] [decimal](10, 2) NULL,
	[DeliveryChrg] [decimal](10, 2) NULL
) ON [PRIMARY]
SET ANSI_PADDING ON
ALTER TABLE [dbo].[Payment] ADD [Bank] [varchar](100) NULL
ALTER TABLE [dbo].[Payment] ADD [Branch] [varchar](100) NULL
ALTER TABLE [dbo].[Payment] ADD [ChequeNo] [varchar](100) NULL
ALTER TABLE [dbo].[Payment] ADD [Comments] [varchar](100) NULL
ALTER TABLE [dbo].[Payment] ADD [GSTCharges] [decimal](10, 2) NULL
ALTER TABLE [dbo].[Payment] ADD [Discount] [decimal](10, 2) NULL
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Plan]    Script Date: 08/04/2018 9:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Plan](
	[Id] [int] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[DaysInPlan] [int] NULL,
	[ValidUpTo] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[IsActive] [int] NULL,
	[DeliveryCharges] [int] NULL,
	[Discount] [decimal](3, 2) NULL,
	[NightDeliveryCharges] [int] NULL,
 CONSTRAINT [PK__Plan__3214EC076C4517EE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Request]    Script Date: 08/04/2018 9:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[YourGuyChkPickUP] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ShippingBilling]    Script Date: 08/04/2018 9:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ShippingBilling](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[FirstName] [varchar](60) NULL,
	[LastName] [varchar](60) NULL,
	[mobile] [varchar](15) NULL,
	[CompanyName] [varchar](100) NULL,
	[Address] [varchar](500) NULL,
	[City] [varchar](50) NULL,
	[LandMark] [varchar](50) NULL,
	[Pincode] [varchar](10) NULL,
	[FirstNameB] [varchar](60) NULL,
	[LastNameB] [varchar](60) NULL,
	[mobileB] [varchar](15) NULL,
	[CompanyNameB] [varchar](100) NULL,
	[AddressB] [varchar](200) NULL,
	[CityB] [varchar](50) NULL,
	[LandMarkB] [varchar](50) NULL,
	[PincodeB] [varchar](10) NULL,
	[CreatedDate] [datetime] NULL,
	[RequestId] [int] NULL,
	[State] [varchar](50) NULL,
	[StateB] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblLocation]    Script Date: 08/04/2018 9:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblLocation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Location] [varchar](100) NULL,
	[CityDivisionID] [int] NULL,
	[primeLocation] [int] NULL,
	[pincode] [int] NULL,
 CONSTRAINT [PK_tblLocation1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 08/04/2018 9:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](60) NULL,
	[LastName] [varchar](60) NULL,
	[email] [varchar](60) NULL,
	[password] [varchar](50) NULL,
	[UserLoginID] [varchar](50) NULL,
	[UserType] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[mobile] [varchar](15) NULL,
	[LocationId] [int] NULL,
	[WorkingSince] [int] NULL,
	[picture] [varchar](110) NULL,
	[STDCode] [varchar](5) NULL,
	[LandLine] [varchar](15) NULL,
	[WebsiteLink] [varchar](150) NULL,
	[SocialLink] [varchar](150) NULL,
	[Address] [varchar](200) NULL,
	[AboutUs] [varchar](500) NULL,
	[CompanyName] [varchar](100) NULL,
	[CompanyLogo] [varchar](100) NULL,
	[LandLine1] [varchar](15) NULL,
	[LandLine2] [varchar](15) NULL,
 CONSTRAINT [PK__Users__1788CC4CC9B27779] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WeeklyMenu]    Script Date: 08/04/2018 9:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WeeklyMenu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Sunday] [varchar](200) NULL,
	[Monday] [varchar](200) NULL,
	[Tuesday] [varchar](200) NULL,
	[Wednesday] [varchar](200) NULL,
	[Thursday] [varchar](200) NULL,
	[Friday] [varchar](200) NULL,
	[Saturday] [varchar](200) NULL,
	[IsActive] [int] NULL,
	[ShowIn] [varchar](2) NULL,
	[MenuItm] [varchar](150) NULL,
 CONSTRAINT [PK__WeeklyMe__3214EC078BC83FB5] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Config] ON 

INSERT [dbo].[Config] ([Id], [TrnChrg], [DeliveryChrg], [Tax], [Telephone], [email], [CashPickUp], [CashPickUpPercent]) VALUES (1, 4, 200, CAST(2.5 AS Decimal(4, 1)), N'+91 99304 07481', N'info@awareinfosystem.com', 25, CAST(2.28 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Config] OFF
SET IDENTITY_INSERT [dbo].[HoliDay] ON 

INSERT [dbo].[HoliDay] ([Id], [DeliverDate], [IsActive]) VALUES (766, CAST(0x0000A5D300000000 AS DateTime), 1)
INSERT [dbo].[HoliDay] ([Id], [DeliverDate], [IsActive]) VALUES (767, CAST(0x0000A5D300000000 AS DateTime), 1)
INSERT [dbo].[HoliDay] ([Id], [DeliverDate], [IsActive]) VALUES (768, CAST(0x0000A66300000000 AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[HoliDay] OFF
INSERT [dbo].[Menu] ([Id], [Header], [Detail], [ShowInBoth], [IsActive], [Picture], [HeaderCus], [DetailCus]) VALUES (3, N'Stuffed Paratha Plate (Veg/ Non-Veg)', N'Our authentic Stuffed Paratha Plate offers variety of Stuffed Paratha meals in the Veg option, while in the Non-Veg option – you will have chicken kheema & egg paratha meals. KOMP parathas won’t be greasy and are cooked in premium quality oil and ghee. ', N'C', 1, N'paranthal.png', N'', N'')
INSERT [dbo].[Menu] ([Id], [Header], [Detail], [ShowInBoth], [IsActive], [Picture], [HeaderCus], [DetailCus]) VALUES (4, N'Mouthwatering Biryani Plate (Veg/ Non-Veg)', N'You can opt for finger-licking good Veg or Non-Veg Biryani meals. The Veg biryani is sautéed with succulent vegetables of the season or softest paneer, while the Non-Veg biryani will give you a choice of mutton, chicken, egg or prawns. Richly flavoured KOMP biryanis are so good, you keep asking for more.', N'C', 1, N'biryani.png', N'', N'')
SET IDENTITY_INSERT [dbo].[MenuItems] ON 

INSERT [dbo].[MenuItems] ([Id], [MenuId], [Header], [Detail], [Picture], [PicDetails], [Price], [Veg], [NonCustomized], [IsActive], [AvailableDay], [ShowDetails], [Varity], [DetailDinner], [ShowInBoth], [Calories], [OrderBy]) VALUES (1, 1, N'Classic Mini (V)', N'3 Chapatis + Veg Dish + Dal + Rice + Salad / Raita/ Dessert', N'', N'', CAST(95.00 AS Decimal(10, 2)), 1, 1, 1, NULL, 1, N'', N'3 Chapatis + Veg Dish + Dal + Rice + Spl. Salad / Raita', N'2', N'(Half Portion) (425-525 Kcal)', 1)
INSERT [dbo].[MenuItems] ([Id], [MenuId], [Header], [Detail], [Picture], [PicDetails], [Price], [Veg], [NonCustomized], [IsActive], [AvailableDay], [ShowDetails], [Varity], [DetailDinner], [ShowInBoth], [Calories], [OrderBy]) VALUES (2, 1, N'Classic Mini (NV)', N'3 Chapatis + Non- Veg Dish + Dal + Rice + Salad / Raita/ Dessert', N'', NULL, CAST(105.00 AS Decimal(10, 2)), 0, 1, 1, NULL, 1, N'', N'3 Chapatis + Non- Veg Dish + Dal + Rice + Spl. Salad / Raita', N'2', N'(Half Portion) (425-525 Kcal)', 2)
INSERT [dbo].[MenuItems] ([Id], [MenuId], [Header], [Detail], [Picture], [PicDetails], [Price], [Veg], [NonCustomized], [IsActive], [AvailableDay], [ShowDetails], [Varity], [DetailDinner], [ShowInBoth], [Calories], [OrderBy]) VALUES (3, 1, N'Classic Full (V)', N'3 Chapatis + Veg Dish + Dal + Rice + Salad / Raita / Dessert', N'', N'', CAST(120.00 AS Decimal(10, 2)), 1, 1, 1, NULL, 1, N'', N'3 Chapatis + Veg Dish + Dal + Rice + Spl. Salad / Raita / Dessert', N'2', N'(Regular/ Standard Portion) (550-650 Kcal)', 3)
SET IDENTITY_INSERT [dbo].[MenuItems] OFF
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([Id], [CustomerId], [PlanId], [OrderDate], [OrderStartDate], [PaymentDone], [IsLunch], [TotalPayment], [NonCustomized], [IsActive], [RequestId], [pincode], [YourguyOrderId]) VALUES (1, 1027, 1, CAST(0x0000A86B014D90E9 AS DateTime), CAST(0x0000A87000000000 AS DateTime), 0, 1, CAST(0.00 AS Decimal(10, 2)), 1, 0, 1, 400001, 0)
INSERT [dbo].[Order] ([Id], [CustomerId], [PlanId], [OrderDate], [OrderStartDate], [PaymentDone], [IsLunch], [TotalPayment], [NonCustomized], [IsActive], [RequestId], [pincode], [YourguyOrderId]) VALUES (2, 1027, 1, CAST(0x0000A86B014D90E9 AS DateTime), CAST(0x0000A87000000000 AS DateTime), 0, 1, CAST(0.00 AS Decimal(10, 2)), 1, 0, 1, 400001, 0)
INSERT [dbo].[Order] ([Id], [CustomerId], [PlanId], [OrderDate], [OrderStartDate], [PaymentDone], [IsLunch], [TotalPayment], [NonCustomized], [IsActive], [RequestId], [pincode], [YourguyOrderId]) VALUES (1002, 1027, 1, CAST(0x0000A86B01509A50 AS DateTime), CAST(0x0000A86D00000000 AS DateTime), 0, 1, CAST(254.80 AS Decimal(10, 2)), 1, 0, 2, 400001, 0)
SET IDENTITY_INSERT [dbo].[Order] OFF
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([Id], [OrderId], [SubProductId], [Quantity], [DeliverDate], [IsActive], [YourguyOrderId]) VALUES (1, 1, 1, 1, CAST(0x0000A87000000000 AS DateTime), 0, 0)
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [SubProductId], [Quantity], [DeliverDate], [IsActive], [YourguyOrderId]) VALUES (2, 1, 1, 1, CAST(0x0000A87100000000 AS DateTime), 0, 0)
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [SubProductId], [Quantity], [DeliverDate], [IsActive], [YourguyOrderId]) VALUES (3, 2, 17, 1, CAST(0x0000A87000000000 AS DateTime), 0, 0)
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([Id], [OrderId], [TransactionNo], [Amount], [Mode], [PaymentDate], [NameOnCard], [CardNumber], [IsActive], [TrnChrg], [DeliveryChrg], [Bank], [Branch], [ChequeNo], [Comments], [GSTCharges], [Discount]) VALUES (1, 1, N'', CAST(170.00 AS Decimal(10, 2)), 1, CAST(0x0000A87D014D35E2 AS DateTime), N'', N'', 1, CAST(0.00 AS Decimal(10, 2)), CAST(75.00 AS Decimal(10, 2)), NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Payment] ([Id], [OrderId], [TransactionNo], [Amount], [Mode], [PaymentDate], [NameOnCard], [CardNumber], [IsActive], [TrnChrg], [DeliveryChrg], [Bank], [Branch], [ChequeNo], [Comments], [GSTCharges], [Discount]) VALUES (2, 2, N'', CAST(900.00 AS Decimal(10, 2)), 1, CAST(0x0000A86B014D35E2 AS DateTime), N'', N'', 0, CAST(0.00 AS Decimal(10, 2)), CAST(300.00 AS Decimal(10, 2)), NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Payment] ([Id], [OrderId], [TransactionNo], [Amount], [Mode], [PaymentDate], [NameOnCard], [CardNumber], [IsActive], [TrnChrg], [DeliveryChrg], [Bank], [Branch], [ChequeNo], [Comments], [GSTCharges], [Discount]) VALUES (1002, 1002, N'', CAST(170.00 AS Decimal(10, 2)), 1, CAST(0x0000A86B0150775C AS DateTime), N'', N'', 0, CAST(9.80 AS Decimal(10, 2)), CAST(75.00 AS Decimal(10, 2)), NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Payment] OFF
INSERT [dbo].[Plan] ([Id], [Name], [DaysInPlan], [ValidUpTo], [CreatedOn], [IsActive], [DeliveryCharges], [Discount], [NightDeliveryCharges]) VALUES (1, N'5 Days Trial Meal Pack', 5, 7, NULL, 1, 100, CAST(0.00 AS Decimal(3, 2)), 100)
INSERT [dbo].[Plan] ([Id], [Name], [DaysInPlan], [ValidUpTo], [CreatedOn], [IsActive], [DeliveryCharges], [Discount], [NightDeliveryCharges]) VALUES (2, N'10 Days Meal Pack', 10, 15, NULL, 1, 300, CAST(0.00 AS Decimal(3, 2)), 300)
INSERT [dbo].[Plan] ([Id], [Name], [DaysInPlan], [ValidUpTo], [CreatedOn], [IsActive], [DeliveryCharges], [Discount], [NightDeliveryCharges]) VALUES (3, N'Monthly (22 Days Meal Pack)', 22, 45, NULL, 1, 600, CAST(0.00 AS Decimal(3, 2)), 600)
SET IDENTITY_INSERT [dbo].[Request] ON 

INSERT [dbo].[Request] ([Id], [UserId], [CreatedDate], [CreatedBy], [YourGuyChkPickUP]) VALUES (1, 1027, CAST(0x0000A86B014D8333 AS DateTime), 1027, NULL)
INSERT [dbo].[Request] ([Id], [UserId], [CreatedDate], [CreatedBy], [YourGuyChkPickUP]) VALUES (2, 1027, CAST(0x0000A86B0150993A AS DateTime), 1027, NULL)
INSERT [dbo].[Request] ([Id], [UserId], [CreatedDate], [CreatedBy], [YourGuyChkPickUP]) VALUES (3, 1027, CAST(0x0000A86B01545CE8 AS DateTime), 1027, NULL)
SET IDENTITY_INSERT [dbo].[Request] OFF
SET IDENTITY_INSERT [dbo].[ShippingBilling] ON 

INSERT [dbo].[ShippingBilling] ([Id], [UserId], [FirstName], [LastName], [mobile], [CompanyName], [Address], [City], [LandMark], [Pincode], [FirstNameB], [LastNameB], [mobileB], [CompanyNameB], [AddressB], [CityB], [LandMarkB], [PincodeB], [CreatedDate], [RequestId], [State], [StateB]) VALUES (1, 1027, N'mahesh', N'maheshwalunj@gmail.com', N'8898179867', N'', N'698$Goregoan$Yashwant Nagar$Goregoan west', N'Mumbai', N'', N'400001', N'mahesh', N'maheshwalunj@gmail.com', N'8898179867', N'', N'698$Goregoan$Goregoan west', N'Mumbai', N'', N'400001', NULL, 2, N'Maharashtra', N'Maharashtra')
INSERT [dbo].[ShippingBilling] ([Id], [UserId], [FirstName], [LastName], [mobile], [CompanyName], [Address], [City], [LandMark], [Pincode], [FirstNameB], [LastNameB], [mobileB], [CompanyNameB], [AddressB], [CityB], [LandMarkB], [PincodeB], [CreatedDate], [RequestId], [State], [StateB]) VALUES (2, 1027, N'mahesh', N'maheshwalunj@gmail.com', N'8898179867', N'', N'698$Goregoan$Yashwant Nagar$Goregoan west', N'Mumbai', N'', N'400001', N'mahesh', N'maheshwalunj@gmail.com', N'8898179867', N'', N'698$Goregoan$Goregoan west', N'Mumbai', N'', N'400001', NULL, 5, N'Maharashtra', N'Maharashtra')
INSERT [dbo].[ShippingBilling] ([Id], [UserId], [FirstName], [LastName], [mobile], [CompanyName], [Address], [City], [LandMark], [Pincode], [FirstNameB], [LastNameB], [mobileB], [CompanyNameB], [AddressB], [CityB], [LandMarkB], [PincodeB], [CreatedDate], [RequestId], [State], [StateB]) VALUES (3, 1027, N'mahesh', N'maheshwalunj@gmail.com', N'8898179867', N'', N'698$Goregoan$Yashwant Nagar$Goregoan west', N'Mumbai', N'', N'400001', N'mahesh', N'maheshwalunj@gmail.com', N'8898179867', N'', N'698$Goregoan$Goregoan west', N'Mumbai', N'', N'400001', NULL, 6, N'Maharashtra', N'Maharashtra')
SET IDENTITY_INSERT [dbo].[ShippingBilling] OFF
SET IDENTITY_INSERT [dbo].[tblLocation] ON 

INSERT [dbo].[tblLocation] ([Id], [Location], [CityDivisionID], [primeLocation], [pincode]) VALUES (1, N'Stock Exchange', 1, 1, 400001)
INSERT [dbo].[tblLocation] ([Id], [Location], [CityDivisionID], [primeLocation], [pincode]) VALUES (2, N'Town Hall (Mumbai)', 1, 1, 400001)
INSERT [dbo].[tblLocation] ([Id], [Location], [CityDivisionID], [primeLocation], [pincode]) VALUES (3, N'M.P.T.', 1, 1, 400001)
GO
SET IDENTITY_INSERT [dbo].[tblLocation] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FirstName], [LastName], [email], [password], [UserLoginID], [UserType], [CreatedDate], [mobile], [LocationId], [WorkingSince], [picture], [STDCode], [LandLine], [WebsiteLink], [SocialLink], [Address], [AboutUs], [CompanyName], [CompanyLogo], [LandLine1], [LandLine2]) VALUES (8, N'komp', N'komp', N'komp@gmail.com', N'komp123', N'komp@gmail.com', N'N', NULL, N'', NULL, NULL, N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'')
INSERT [dbo].[Users] ([UserId], [FirstName], [LastName], [email], [password], [UserLoginID], [UserType], [CreatedDate], [mobile], [LocationId], [WorkingSince], [picture], [STDCode], [LandLine], [WebsiteLink], [SocialLink], [Address], [AboutUs], [CompanyName], [CompanyLogo], [LandLine1], [LandLine2]) VALUES (1027, N'mahesh', N'', N'maheshwalunj@gmail.com', N'123456789', N'maheshwalunj@gmail.com', N'0', NULL, N'', 0, 0, N'', N'0', N'0', N'', N'', N'', N'', N'', N'', N'', N'')
INSERT [dbo].[Users] ([UserId], [FirstName], [LastName], [email], [password], [UserLoginID], [UserType], [CreatedDate], [mobile], [LocationId], [WorkingSince], [picture], [STDCode], [LandLine], [WebsiteLink], [SocialLink], [Address], [AboutUs], [CompanyName], [CompanyLogo], [LandLine1], [LandLine2]) VALUES (1037, N'Sudhanshu Sharan', N'', N'sudhansusharaan@gmail.com', N'success', N'sudhansusharaan@gmail.com', N'0', CAST(0x0000A4CD00DA55C0 AS DateTime), N'', 0, 0, N'', N'0', N'0', N'', N'', N'', N'', N'', N'', N'', N'')
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
SET IDENTITY_INSERT [dbo].[WeeklyMenu] ON 

INSERT [dbo].[WeeklyMenu] ([Id], [Sunday], [Monday], [Tuesday], [Wednesday], [Thursday], [Friday], [Saturday], [IsActive], [ShowIn], [MenuItm]) VALUES (1, N'Sabji Adaraki', N'', N'', N'', N'', N'', N'', 1, N'TL', N'Special Veg Dish')
INSERT [dbo].[WeeklyMenu] ([Id], [Sunday], [Monday], [Tuesday], [Wednesday], [Thursday], [Friday], [Saturday], [IsActive], [ShowIn], [MenuItm]) VALUES (2, N'Home Style Chicken Curry', N'', N'', N'', N'', N'', N'', 1, N'TL', N'Non-Veg Dish')
INSERT [dbo].[WeeklyMenu] ([Id], [Sunday], [Monday], [Tuesday], [Wednesday], [Thursday], [Friday], [Saturday], [IsActive], [ShowIn], [MenuItm]) VALUES (3, N'Aloo Jeera', N'', N'', N'', N'', N'', N'', 1, N'TL', N'Veg Dish')
SET IDENTITY_INSERT [dbo].[WeeklyMenu] OFF
USE [master]
GO
